<div class="card">
    <div class="card-header">Editar emplado</div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
                <label for="cuadroNombre" class="form-label">Nombre:</label>
                <input
                    formControlName="nombre"
                    type="text"
                    class="form-control"
                    name=""
                    id="cuadroNombre"
                    aria-describedby="helpId"
                    placeholder="Escribe tu nombre"
                    required
                />
            </div>
            <div class="mb-3">
                <label for="cuadroCorreo" class="form-label">Correo:</label>
                <input
                    formControlName="correo"
                    type="email"
                    class="form-control"
                    name=""
                    id="cuadroCorreo"
                    aria-describedby="helpId"
                    placeholder="Escribe tu correo"
                    required=""
                />
            </div>
            <!-- bs5group default -->
            <div class="btn-group" role="group" aria-label="Button group name">
                <button
                    type="submit"
                    class="btn btn-warning"
                >
                    Modificar Registro
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    routerLink="/listar-empleado/"
                >
                    Cancelar
                </button>
            </div>
            
        </form>
    </div>

</div>

