<!-- bs5-nav -->
<!-- con solo agregar bs5-nav, seleccionar bs5-navbar-minimal-a  -->

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#" aria-current="page"
      >Sistema<span class="visually-hidden">(current)</span></a
    >
    <a class="nav-item nav-link" routerLink="listar-empleado" href="#">Listar Empleados</a>
    <a class="nav-item nav-link" routerLink="agregar-empleado" href="#">Agregar Empleados</a>
  </div>
</nav>
<div class="container">
  Contenido
  <router-outlet></router-outlet>
  <!-- jala la información de app-componet -->
</div>